#output{
    width:300px;
    height:auto;
    position:fixed;
    top:calc(30vh - 140px);
    left:15vw;
    font:lighter 30px 'Karla', calibri;
  }

#buttonTrigger{
    width:300px;
    height:auto;
    position:fixed;
    top:calc(70vh - 140px);
    left:15vw;
    font:lighter 25px 'Karla', calibri;
  }

#poutput{
    width:300px;
    height:auto;
    position:fixed;
    top:calc(30vh - 140px);
    left:60vw;
    font:lighter 30px 'Karla', calibri;
  }

#pbuttonTrigger{
    width:300px;
    height:auto;
    position:fixed;
    top:calc(70vh - 140px);
    left:60vw;
    font:lighter 25px 'Karla', calibri;
  }


 #javascript{
    width:300px;
    height:auto;
    position:fixed;
    top:calc(80vh - 140px);
    left:45vw;
    font:lighter 20px 'Karla', calibri;
}
